<h1>Create a new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :image, as: :file %> <!-- Add this for image upload -->
  <%= f.button :submit %>
<% end %>

<%= link_to "back to list", lists_path  %>
