<h1>Add a Movie to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie" %>
  <%= f.input :comment %>
  <%= f.submit "Add Bookmark" %>
<% end %>

<%= link_to "Back to list", list_path(@list) %>
