<h1>Movies#index</h1>
<ul>
  <% @movies.each do |movie|  %>
    <li>
      <img src= '<%= movie.poster_url %>' alt='<%= movie.title %>' width='100'>
     <strong><%= link_to movie.title, movie_path(movie) %></strong>
      <%= movie.rating  %>
      <%= movie.overview %>
    </li>
  <% end %>
</ul>
